<div class="mt-5 p-3">
<table class="table table-responsive" style="border: 1px #52333347 !important;">
  <thead>
    <tr>
    <th>Name</th>
    <th>Company Name</th>
    <th>Designation Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of tableData">
      <td [ngClass]="{'highlight':data?.company?.designation === 'angular Developer'}">
        {{data?.name || "--"}} <br>
        {{data?.email || "--"}}
      </td>
      <td [ngClass]="{'highlight':data?.company?.designation === 'angular Developer'}">
        {{data?.company?.name || "--"}}
      </td>
      <td [ngClass]="{'highlight':data?.company?.designation === 'angular Developer'}">
        {{(data?.company?.designation | titlecase) || "--"}}
      </td>
    </tr>
  </tbody>
</table>

</div>
<router-outlet />
